body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* changed the font here */

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.team {
  background: #ffffff;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;  /* added this line */
}

.team-name {
  font-size: 1.2em;
  color: #333;
  cursor: pointer;
}

.team-players {
  margin-top: 0.5em;
  display: none; /* This will hide the players initially */
}

.team-players.active {
  display: block; /* This will show the players when a team is clicked */
}

.player {
  padding: 0.5em 0;
  border-bottom: 1px solid #eee;
}

.player:last-child {
  border-bottom: none;
}

form {
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;  /* added this line */
}

form input, form button {
  width: 100%;
  padding: 1em;
  margin-top: 0.5em;
  border: none;
  border-radius: 5px;
}

form button {
  background: #5cb85c;
  color: #ffffff;
  cursor: pointer;
}

form button:hover {
  background: #449d44;
}
